{% extends 'base.html.twig' %}

{% block title %}Hello CarsController!{% endblock %}

{% block body %}
<h1 class="text-center fs-1 mt-3">Nos voitures</h1>

<div class="row justify-content-center">
{% for model in models %}
    <div class="col-md-4 d-flex justify-content-center mb-4">
        <div class="card" style="width: 18rem;">




            {% if model.brand.image starts with 'http' %}
                <img src="{{ model.brand.image }}" class="card-img-top" alt="logo brand">
            {% else %}
                <img src="{{ asset('images/brand/' ~ model.brand.image) }}" class="card-img-top" alt="logo brand">
            {% endif %}





            <div class="card-body">
                <h2 class="card-title">{{model.brand.name}} {{model.name}}</h2>
                <h5>{{model.brand.manufacturerName}}, {{model.brand.countryOfManufacture}}</h5>
                <h5>{{model.serialNumber}}</h5>
                <h5>{{model.dateOfManufacture | date('d/m/Y')}}</h5>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<div class="d-flex justify-content-center mt-4">
    {{ knp_pagination_render(models) }}
</div>

{% endblock %}
